:root {
    --code-bg: var(--back-light);
    /* --code-base: hsl(45, 7%, 35%); */
    /* --code-comment: hsl(0, 0%, 41%); */
    /* --code-keyword: hsl(204, 88%, 35%); */
    /* --code-function: hsl(19, 67%, 44%); */
    /* --code-string: hsl(41, 37%, 38%); */

    --code-template-string: hsl(2, 80%, 47%);
    --code-tags: var(--code-function);
    --code-important: var(--code-string);

    --code-base: #FEFDFD;
    --token-constant: #D15510;
    --code-string: #EBB99D;
    --code-comment: #895E60;
    --code-keyword: #EB6F6F;
    --token-parameter: #C88E8E;
    --code-function: #C88E8E;
    --code-string-expression: #EBB99D;
    --token-punctuation: #EB6F6F;
    --token-link: #EB6F6F;
    --token-number: #FDA97A;
    --token-property: #D15510;
}

pre {
    tab-size: 2;
    -moz-tab-size: 2;
}

code {
    color: var(--code-base);
}

.code-block pre {
    background-color: var(--code-bg);
    color: var(--code-base);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0 1rem;
    font-size: 14px;
}

.code-block pre code,
.token {
    color: var(--code-base);
}

.token.tag,
.token.attr-value .attr-equals {
    color: var(--code-string-expression);
}

.token.string,
.token.interpolation-punctuation,
.token.attr-value,
.token.inserted {
    color: var(--code-string);
}

.token.builtin,
.token.function {
    color: var(--code-function);
}

.token.keyword,
.token.boolean,
.token.attr-name,
.token.namespace {
    color: var(--code-keyword);
}

.token.comment {
    color: var(--code-comment);
}

.token.deleted {
    color: #fc9b9b;
}

.token.template-string .interpolation-punctuation,
.token.template-string .string {
    color: var(--code-template-string);
}